body {
    background-color:#EBE9E1;
}

#welcome {
    text-align: center;
    color: #E43D12
}

ul {
    list-style-type: none;
    display: inline;
    float: right;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #E43D12;
}
